:root {
    --cor-principal-barras: #3E5962;
    --cor-texto-principal: #172930;
    --cor-texto-secundario: #73797f;
    --cor-texto-barra: #FCF9F6;
    --fonte-principal-barras: #3E5962;
    --cor-hover: #85a99d;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--cor-principal-barras);
    color: var(--cor-texto-barra);
}

nav a {
    color: var(--cor-texto-barra);
    text-decoration: none;
    padding: 8px 16px;
}

nav a:hover {
    background-color: var(--cor-hover);
}

main {
    padding: 20px;
}

.container {
    display: flex;
}

.sidebar {
    width: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.main {
    width: 70%;
    padding: 20px;
}

h2 {
    background-color: var(--cor-principal-barras);
    color: #fff;
    padding: 10px;
    margin: 0 0 20px 0;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, button {
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: var(--cor-principal-barras);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: var(--cor-hover);
}

#emails {
    margin-top: 20px;
}

.email {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email:hover {
    background-color: #eee;
}

.email .email-content {
    flex-grow: 1;
    margin-left: 10px;
}

.email .email-time {
    font-size: 0.9em;
    color: #666;
}

.livro {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.livro img {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
}

.livro div {
    flex: 1;
}

.livro h2 {
    margin: 0 0 10px 0;
    color: #333;
    font-size: 18px;
}

.livro p {
    margin: 5px 0;
    color: #666;
}

.livro a {
    color: var(--cor-texto-principal);
    text-decoration: none;
}

.livro a:hover {
    text-decoration: underline;
}

.livro strong {
    color: #e60000;
}

.email img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}